/* SPDX-License-Identifier: Apache-2.0  */
@import './variables.css';
@import '../../node_modules/tippy.js/dist/tippy.css';

/** Define a default size for the map when integrated using the api.
  * This will force the map to always be displayed, even if the user forgot to set the size.
  */
geogirafe-map {
  display: block;
  width: 200px;
  height: 200px;
}
